# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Variables de entorno y secretos
.env
.env.*

# Flask
instance/
.webassets-cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos compilados
*.so
